This workflow goes from Movies to 2Dclassification in streaming with estimating and monitoring movie gain.
[
     {
        "object.className": "ProtImportMovies",
        "object.id": "2284",
        "object.label": "pwem - import movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "importFrom": 0,
        "filesPath": "~Movie's folder|%(HOME)s/Movies|2|moviesPath~",
        "filesPattern": "~Files pattern|*.tiff|0|filesPattern~",
        "copyFiles": false,
        "haveDataBeenPhaseFlipped": false,
        "acquisitionWizard": null,
        "voltage": "~Voltage|300|3|voltage~",
        "sphericalAberration": "~Spherical aberration|2.7|4|spherical~",
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRateMode": 0,
        "samplingRate": "~Sampling Rate|0.907|4|sampling~",
        "scannedPixelSize": 7.0,
        "doseInitial": 0.0,
        "dosePerFrame": "~Dose per frame|1.0|4|dosePerFrame~",
        "gainFile": "~Gain's file|%(HOME)s/Movies/gain.mrc|0|gainPath~",
        "darkFile": null,
        "dataStreaming": "~Live acquisition|true|0|streamingImport~",
        "timeout": 43200,
        "fileTimeout": 30,
        "blacklistDateFrom": null,
        "blacklistDateTo": null,
        "useRegexps": true,
        "blacklistFile": null,
        "inputIndividualFrames": false,
        "numberOfIndividualFrames": null,
        "stackFrames": false,
        "writeMoviesInProject": false,
        "movieSuffix": "_frames.mrcs",
        "deleteFrames": false
    },
    {
        "object.className": "XmippProtMovieMaxShift",
        "object.id": "1207",
        "object.label": "xmipp3 - movie maxshift",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "rejType": 3,
        "maxFrameShift": 5.0,
        "maxMovieShift": 20.0,
        "inputMovies": "1242.outputMovies"
    },
    {
        "object.className": "ProtMotionCorr",
        "object.id": "1242",
        "object.label": "motioncorr - movie alignment (gpus 0, 1)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "doSaveAveMic": true,
        "useAlignToSum": true,
        "alignFrame0": 1,
        "alignFrameN": 0,
        "binFactor": "~Binning factor alignment|1.0|4|bin~",
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": false,
        "doSaveMovie": false,
        "doComputePSD": false,
        "doComputeMicThumbnail": false,
        "extraProtocolParams": "",
        "gpuList": "0,1",
        "doApplyDoseFilter": true,
        "patchX": 5,
        "patchY": 5,
        "patchOverlap": 0,
        "group": 1,
        "groupLocal": 4,
        "tol": 0.5,
        "doSaveUnweightedMic": false,
        "extraParams2": "",
        "gainRot": 1,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 32,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1,
        "inputMovies": "2284.outputMovies"
    },
    {
        "object.className": "XmippProtTiltAnalysis",
        "object.id": "1309",
        "object.label": "xmipp3 - tilt analysis",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "window_size": 1024,
        "objective_resolution": 3.0,
        "meanCorr_threshold": 0.5,
        "stdCorr_threshold": 0.1,
        "saveIntermediateResults": false,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "inputMicrographs": "1207.outputMicrographsDoseWeighted"
    },
    {
        "object.className": "CistemProtCTFFind",
        "object.id": "1346",
        "object.label": "cistem - ctffind4",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "recalculate": false,
        "sqliteFile": null,
        "inputType": 1,
        "avgFrames": 3,
        "usePowerSpectra": false,
        "windowSize": 512,
        "lowRes": 30.0,
        "highRes": 5.0,
        "minDefocus": 5000.0,
        "maxDefocus": 50000.0,
        "stepDefocus": 100.0,
        "slowSearch": false,
        "fixAstig": true,
        "astigmatism": 100.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 180.0,
        "stepPhaseShift": 10.0,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1,
        "inputMicrographs": "1461.outputMicrographs"
    },
    {
        "object.className": "XmippProtCTFConsensus",
        "object.id": "1404",
        "object.label": "xmipp3 - ctf consensus",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "useDefocus": true,
        "minDefocus": 1000.0,
        "maxDefocus": 30000.0,
        "useAstigmatism": false,
        "astigmatism": 1000.0,
        "useAstigmatismPercentage": true,
        "astigmatismPer": 0.1,
        "useResolution": true,
        "resolution": "~Resolution filter|4.5|4|resolution~",
        "useCritXmipp": false,
        "critFirstZero": 5.0,
        "minCritFirstZeroRatio": 0.9,
        "maxCritFirstZeroRatio": 1.1,
        "critCorr": 0.05,
        "critCtfMargin": 1.5,
        "critIceness": 1.0,
        "minCritNonAstigmaticValidity": 0.3,
        "maxCritNonAstigmaticValidity": 9.0,
        "calculateConsensus": false,
        "minConsResol": 4.0,
        "averageDefocus": true,
        "includeSecondary": true,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "inputCTF": "1346.outputCTF"
    },
    {
        "object.className": "CryoassessProtMics",
        "object.id": "1461",
        "object.label": "cryoassess - assess micrographs (gpu 2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "threshold": 0.1,
        "threshold2": 0.1,
        "batchSize": 16,
        "gpuList": "2",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 1,
        "streamingBatchSize": 8,
        "inputMicrographs": "1309.outputMicrographs"
    },
    {
        "object.className": "SphireProtCRYOLOPicking",
        "object.id": "1500",
        "object.label": "sphire - cryolo picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "inputModelFrom": 0,
        "conservPickVar": 0.3,
        "lowPassFilter": true,
        "absCutOffFreq": 0.1,
        "numCpus": 4,
        "input_size": 1024,
        "boxSize": 0,
        "max_box_per_image": 600,
        "useGpu": false,
        "gpuList": "0",
        "boxSizeFactor": 1.0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 8,
        "inputMicrographs": "1673.outputMicrographs"
    },
    {
        "object.className": "ProtBoxSizeParameters",
        "object.id": "1548",
        "object.label": "pwem - box size related parameters",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "boxSize": "1500.boxsize",
        "boolExtractPartBx": true,
        "factorExtractPartBx": 1.64,
        "boolGautomatchParams": false,
        "factorGautRadius": 0.75,
        "factorGautMinInterPartDist": 0.9,
        "factorGautSigmaDiameter": 1.2,
        "factorGautAvgDiameter": 1.5,
        "boolRelionParams": true,
        "factorMinLoGFilter": 0.9,
        "factorMaxLoGFilter": 1.1,
        "boolTopazParams": false,
        "factorTopazRadius": 0.45,
        "numPartPerImg": 300,
        "boolConsensusParams": true,
        "factorConsensusRadius": 0.9,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputMicrographs": "1673.outputMicrographs"
    },
    {
        "object.className": "ProtRelionAutopickLoG",
        "object.id": "1596",
        "object.label": "relion - auto-picking LoG",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "boxSize": "1548.boxSizeEven",
        "minDiameter": "1548.minLoGFilterRelion",
        "maxDiameter": "1548.maxLoGFilterRelion",
        "areParticlesWhite": false,
        "maxResolution": 20.0,
        "threshold": 0.0,
        "threshold2": 999.0,
        "extraParams": "",
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 8,
        "hostName": "localhost",
        "numberOfMpi": 5,
        "inputMicrographs": "1673.outputMicrographs"
    },
    {
        "object.className": "XmippProtConsensusPicking",
        "object.id": "1639",
        "object.label": "xmipp3 - picking consensus",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "inputCoordinates": [
            "1500.outputCoordinates",
            "1596.outputCoordinates"
        ],
        "consensusRadius": "1548.radiusConsensus",
        "consensus": -1,
        "mode": 0
    },
    {
        "object.className": "XmippProtTriggerData",
        "object.id": "1673",
        "object.label": "xmipp3 (\u1e9f) - trigger data (receive stop signal)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "triggerWait": true,
        "outputSize": 1,
        "allImages": true,
        "splitImages": false,
        "triggerSignal": false,
        "delay": 4,
        "inputImages": "1404.outputMicrographs"
    },
    {
        "object.className": "XmippProtDeepMicrographScreen",
        "object.id": "1820",
        "object.label": "xmipp3 - deep micrograph cleaner (gpu=2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "micsSource": 0,
        "useOtherScale": 0,
        "threshold": 0.95,
        "streamingBatchSize": -1,
        "saveMasks": false,
        "useGpu": true,
        "gpuList": "3",
        "inputCoordinates": "1639.consensusCoordinates"
    },
    {
        "object.className": "ProtRelionExtractParticles",
        "object.id": "1861",
        "object.label": "relion - particles extraction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "downsampleType": 0,
        "boxSize": "1548.boxSizeExtraction",
        "doRescale": false,
        "rescaledSize": 128,
        "saveFloat16": false,
        "doInvert": true,
        "doNormalize": true,
        "backDiameter": -1,
        "stddevWhiteDust": -1.0,
        "stddevBlackDust": -1.0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 0,
        "hostName": "localhost",
        "numberOfMpi": 4,
        "ctfRelations": "1404.outputCTF",
        "inputCoordinates": "1820.outputCoordinates_Auto_095"
    },
    {
        "object.className": "XmippProtTriggerData",
        "object.id": "1910",
        "object.label": "xmipp3 (\u1e9f) - trigger data (send stop signal)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "triggerWait": false,
        "outputSize": "~Number of particles to trigger 2D|20000|3|particles~",
        "allImages": true,
        "splitImages": false,
        "triggerSignal": true,
        "triggerProt": "1673.",
        "delay": 4,
        "inputImages": "1861.outputParticles"
    },
    {
        "object.className": "ProtCryo2D",
        "object.id": "1950",
        "object.label": "cryosparc2 - 2D classification (gpu 3)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "numberOfClasses": "~Number of classes (1st)|50|3|classes~",
        "maximunResolution": 6,
        "initialClassification": 2.0,
        "useCircular2D": true,
        "class2D_window_inner_A": null,
        "class2D_window_outer_A": null,
        "reCenter2D": true,
        "reCenterMask": 0.2,
        "reCenterMaskBinary": false,
        "forceMaxover": true,
        "ctfFlipPhases": false,
        "numberFinalIterator": 1,
        "numberOnlineEMIterator": 20,
        "batchSizeClass": 100,
        "initialScale2D": 1,
        "zeropadFactor": 2,
        "useFRCRegularized": true,
        "useFullFRC": true,
        "iterationToStartAnneling": 2,
        "iterationToStartAnneal": 15,
        "useWhiteNoiseModel": false,
        "compute_use_ssd": false,
        "gpuList": "3",
        "compute_lane": "default",
        "inputParticles": "1910.outputParticles"
    },
    {
        "object.className": "CryoassessProt2D",
        "object.id": "2006",
        "object.label": "cryoassess (\u1e9f) - assess 2D classes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "batchSize": 32,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1,
        "inputRefs": "1950.outputClasses"
    },
    {
        "object.className": "XmippProtMovieGain",
        "object.id": "4713",
        "object.label": "xmipp3 - movie gain",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "estimateGain": true,
        "estimateOrientation": true,
        "estimateResidualGain": true,
        "normalizeGain": true,
        "estimateSigma": false,
        "frameStep": 5,
        "movieStep": 100,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "inputMovies": "2284.outputMovies"
    },
    {
        "object.className": "ProtMonitorSummary",
        "object.id": "4752",
        "object.label": "emfacilities - monitor summary",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "inputProtocols": [
            "2284",
            "1207",
            "1346",
            "4713"
        ],
        "samplingInterval": 60,
        "monitorTime": 34560.0,
        "stddevValue": 0.04,
        "ratio1Value": 1.15,
        "ratio2Value": 4.5,
        "maxDefocus": 40000.0,
        "minDefocus": 1000.0,
        "astigmatism": 1000.0,
        "cpuAlert": 101.0,
        "memAlert": 101.0,
        "swapAlert": 101.0,
        "doGpu": false,
        "gpusToUse": "0",
        "doNetwork": false,
        "netInterfaces": 1,
        "doDiskIO": false,
        "doMail": false,
        "emailFrom": "from@from.fakeadress.com",
        "emailTo": "to@to.fakeadress.com",
        "smtp": "smtp.fakeadress.com",
        "doInflux": false,
        "publishCmd": ""
    },
    {
        "object.className": "XmippProtCenterParticles",
        "object.id": "4920",
        "object.label": "xmipp3 - center particles",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "hostName": "localhost",
        "inputMics": "1673.outputMicrographs",
        "inputClasses": "2006.outputClasses"
    },
    {
        "object.className": "ProtCryo2D",
        "object.id": "4954",
        "object.label": "cryosparc2 - 2D classification",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "numberOfClasses": "~Number of classes (2nd)|30|3|classes~",
        "maximunResolution": 6,
        "initialClassification": 2.0,
        "useCircular2D": true,
        "class2D_window_inner_A": null,
        "class2D_window_outer_A": null,
        "reCenter2D": true,
        "reCenterMask": 0.2,
        "reCenterMaskBinary": false,
        "forceMaxover": true,
        "ctfFlipPhases": false,
        "numberFinalIterator": 1,
        "numberOnlineEMIterator": 20,
        "batchSizeClass": 100,
        "initialScale2D": 1,
        "zeropadFactor": 2,
        "useFRCRegularized": true,
        "useFullFRC": true,
        "iterationToStartAnneling": 2,
        "iterationToStartAnneal": 15,
        "useWhiteNoiseModel": false,
        "compute_use_ssd": false,
        "gpuList": "3",
        "compute_lane": "default",
        "inputParticles": "4920.outputParticles"
    },
    {
        "object.className": "CryoassessProt2D",
        "object.id": "5010",
        "object.label": "cryoassess (\u1e9f) - assess 2D classes (2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 1,
        "batchSize": 32,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1,
        "inputRefs": "4954.outputClasses"
    }
]