This workflow goes from Movies (NO DOSE weighed) to 2Dclassification in streaming.
[
    {
        "object.className": "ProtImportMovies",
        "object.id": "2",
        "object.label": "scipion - import movies",
        "object.comment": "Set the path to the root deposition directory, a shell pattern to find movies, the sampling rate, the working voltage, the spherical aberration, the gain and dark images if so. This workflow is designed to NOT use DOSE.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "~Movie's folder|%(SCIPION_TESTS)s/relion30_tutorial/Movies|2|moviesPath~",
        "filesPattern": "*.tiff",
        "copyFiles": false,
        "haveDataBeenPhaseFlipped": false,
        "acquisitionWizard": null,
        "voltage": 200.0,
        "sphericalAberration": 1.4,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRateMode": 0,
        "samplingRate": 0.885,
        "scannedPixelSize": 7.0,
        "doseInitial": 0.0,
        "dosePerFrame": 0.0,
        "gainFile": "~Gain's file|%(SCIPION_TESTS)s/relion30_tutorial/Movies/gain.mrc|0|gainPath~",
        "darkFile": null,
        "dataStreaming": true,
        "timeout": 43200,
        "fileTimeout": 30,
        "blacklistDateFrom": null,
        "blacklistDateTo": null,
        "useRegexps": true,
        "blacklistFile": null,
        "inputIndividualFrames": false,
        "numberOfIndividualFrames": null,
        "stackFrames": false,
        "writeMoviesInProject": false,
        "movieSuffix": "_frames.mrcs",
        "deleteFrames": false
    },
    {
        "object.className": "XmippProtMovieGain",
        "object.id": "64",
        "object.label": "xmipp3 - check gain",
        "object.comment": "Set the 'use existing gain' according to your dataset.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "frameStep": 5,
        "movieStep": 250,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "inputMovies": "2.outputMovies"
    },
    {
        "object.className": "ProtMotionCorr",
        "object.id": "97",
        "object.label": "motioncorr - movie alignment",
        "object.comment": "Change the GPU-ids and the patches if desired.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "gpuList": "0",
        "doSaveAveMic": true,
        "useAlignToSum": true,
        "alignFrame0": 1,
        "alignFrameN": 0,
        "binFactor": 1.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "doSaveMovie": false,
        "doComputePSD": false,
        "doComputeMicThumbnail": false,
        "extraProtocolParams": "",
        "doApplyDoseFilter": false,
        "patchX": 5,
        "patchY": 5,
        "patchOverlap": 0,
        "group": 1,
        "tol": 0.5,
        "doSaveUnweightedMic": true,
        "doMagCor": false,
        "useEst": true,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0,
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "extraParams2": "",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputMovies": "64.outputMovies"
    },
    {
        "object.className": "XmippProtMovieMaxShift",
        "object.id": "159",
        "object.label": "xmipp3 - movie maxshift",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "rejType": 3,
        "maxFrameShift": 10.0,
        "maxMovieShift": 15.0,
        "inputMovies": "97.outputMovies"
    },
    {
        "object.className": "ProtGctf",
        "object.id": "192",
        "object.label": "gctf - ctf estimation",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recalculate": false,
        "sqliteFile": null,
        "AutoDownsampling": false,
        "ctfDownFactor": 1.0,
        "windowSize": 512,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "astigmatism": 100.0,
        "plotResRing": true,
        "gpuList": "2",
        "doEPA": false,
        "EPAsmp": 4,
        "doBasicRotave": false,
        "overlap": 0.5,
        "convsize": 85,
        "bfactor": 150,
        "doHighRes": false,
        "doValidate": false,
        "doPhShEst": false,
        "phaseShiftL": 0.0,
        "phaseShiftH": 180.0,
        "phaseShiftS": 10.0,
        "phaseShiftT": 0,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1,
        "inputMicrographs": "159.outputMicrographs"
    },
    {
        "object.className": "CistemProtCTFFind",
        "object.id": "256",
        "object.label": "cistem - ctffind4",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recalculate": false,
        "sqliteFile": null,
        "AutoDownsampling": false,
        "ctfDownFactor": 1.0,
        "findPhaseShift": false,
        "windowSize": 512,
        "hostName": "localhost",
        "numberOfThreads": 5,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1,
        "inputMicrographs": "159.outputMicrographs"
    },
    {
        "object.className": "XmippProtCTFMicrographs",
        "object.id": "270",
        "object.label": "xmipp3 - ctf estimation",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recalculate": false,
        "sqliteFile": null,
        "AutoDownsampling": true,
        "ctfDownFactor": 1.0,
        "doInitialCTF": true,
        "doOptimizeDefocus": false,
        "findPhaseShift": false,
        "doCTFAutoDownsampling": true,
        "refineAmplitudeContrast": false,
        "skipBorders": false,
        "lowRes": 0.05,
        "highRes": 0.35,
        "minDefocus": 0.25,
        "maxDefocus": 4.0,
        "windowSize": 512,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "inputMicrographs": "159.outputMicrographs",
        "ctfRelations": "256.outputCTF"
    },
    {
        "object.className": "XmippProtCTFConsensus",
        "object.id": "309",
        "object.label": "xmipp3 - ctf screening",
        "object.comment": "Check the tresholds and set them as desired.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useDefocus": true,
        "minDefocus": 4000.0,
        "maxDefocus": 40000.0,
        "useAstigmatism": true,
        "astigmatism": 1000.0,
        "useResolution": true,
        "resolution": 5.0,
        "useCritXmipp": false,
        "critFirstZero": 5.0,
        "minCritFirstZeroRatio": 0.9,
        "maxCritFirstZeroRatio": 1.1,
        "critCorr": 0.05,
        "critCtfMargin": 1.5,
        "critIceness": 1.0,
        "minCritNonAstigmaticValidity": 0.3,
        "maxCritNonAstigmaticValidity": 9.0,
        "calculateConsensus": true,
        "minConsResol": 7.0,
        "hostName": "localhost",
        "inputCTF": "192.outputCTF",
        "inputCTF2": "256.outputCTF"
    },
    {
        "object.className": "XmippProtCTFConsensus",
        "object.id": "330",
        "object.label": "Xmipp - CTF quality control",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useDefocus": false,
        "minDefocus": 4000.0,
        "maxDefocus": 40000.0,
        "useAstigmatism": false,
        "astigmatism": 1000.0,
        "useResolution": false,
        "resolution": 5.0,
        "useCritXmipp": true,
        "critFirstZero": 5.0,
        "minCritFirstZeroRatio": 0.9,
        "maxCritFirstZeroRatio": 1.1,
        "critCorr": 0.05,
        "critCtfMargin": 1.5,
        "critIceness": 1.0,
        "minCritNonAstigmaticValidity": 0.3,
        "maxCritNonAstigmaticValidity": 9.0,
        "calculateConsensus": true,
        "minConsResol": 7.0,
        "averageDefocus": false,
        "includeSecondary": true,
        "hostName": "localhost",
        "inputCTF": "309.outputCTF",
        "inputCTF2": "270.outputCTF"
    },
    {
        "object.className": "XmippProtPreprocessMicrographs",
        "object.id": "360",
        "object.label": "xmipp3 - preprocess micrographs",
        "object.comment": "Change the binning factor is desired (4 by default).",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "orderComment": null,
        "doCrop": false,
        "cropPixels": 10,
        "doLog": false,
        "logA": 4.431,
        "logB": 0.402,
        "logC": 336.6,
        "doRemoveBadPix": true,
        "mulStddev": 5,
        "doInvert": false,
        "doDownsample": true,
        "downFactor": 4,
        "doDenoise": false,
        "maxIteration": 50,
        "doSmooth": false,
        "sigmaConvolution": 2.0,
        "doHighPass": false,
        "highCutoff": 0.002,
        "highRaised": 0.001,
        "doLowPass": false,
        "lowCutoff": 0.4,
        "lowRaised": 0.001,
        "doNormalize": false,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1,
        "inputMicrographs": "330.outputMicrographs"
    },
    {
        "object.className": "XmippProtTriggerData",
        "object.id": "413",
        "object.label": "xmipp3 - trigger for manual picking",
        "object.comment": "It blocks the set of micrograph until 10 (by default) micrographs are reached.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "outputSize": 10,
        "allImages": false,
        "splitImages": false,
        "delay": 10,
        "inputImages": "360.outputMicrographs"
    },
    {
        "object.className": "XmippProtParticlePicking",
        "object.id": "447",
        "object.label": "xmipp3 - manual-picking",
        "object.comment": "Please, pick some micrographs to assist the automatic picking. When ready save the trainning by clicking '+Coordinates'",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "saveDiscarded": false,
        "doInteractive": false,
        "inputMicrographs": "413.outputMicrographs"
    },
    {
        "object.className": "XmippParticlePickingAutomatic",
        "object.id": "480",
        "object.label": "xmipp3 - auto-picking",
        "object.comment": "Launch this protocol after thainning the Xmipp picker in the protocol above.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "micsToPick": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1,
        "hostName": "localhost",
        "numberOfThreads": 5,
        "numberOfMpi": 1,
        "inputMicrographs": "360.outputMicrographs",
        "xmippParticlePicking": "447."
    },
    {
        "object.className": "SphireProtCRYOLOPicking",
        "object.id": "516",
        "object.label": "sphire - cryolo picking",
        "object.comment": "If you know the particle size, you can set it below. If not, leave it at 0 for an automatic assignation.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputModelFrom": 0,
        "conservPickVar": 0.3,
        "lowPassFilter": false,
        "absCutOffFreq": 0.1,
        "input_size": 1024,
        "boxSize": 0,
        "max_box_per_image": 600,
        "num_patches": 1,
        "gpuList": "0",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 8,
        "inputMicrographs": "360.outputMicrographs"
    },
    {
        "object.className": "XmippProtConsensusPicking",
        "object.id": "560",
        "object.label": "xmipp3 - picking consensus (AND)",
        "object.comment": "Set the 'Radius' according to your data (a tenth of the particle size is a reasonable value)",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": [
            "480.outputCoordinates",
            "516.outputCoordinates"
        ],
        "consensusRadius": 10,
        "consensus": -1
    },
    {
          "object.className": "XmippProtConsensusPicking",
          "object.id": "570",
          "object.label": "xmipp3 - picking consensus (OR)",
          "object.comment": "Set the 'Radius' according to your data (a tenth of the particle size is a reasonable value)",
          "_useQueue": false,
          "_queueParams": null,
          "runName": null,
          "runMode": 0,
          "inputCoordinates": [
              "480.outputCoordinates",
              "516.outputCoordinates"
          ],
          "consensusRadius": 10,
          "consensus": 1
      },
    {
        "object.className": "XmippProtExtractParticles",
        "object.id": "591",
        "object.label": "xmipp3 - extract DOWNSAMPLED particles",
        "object.comment": "This downsampled extraction will fed the 2D analysis to save time.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "downsampleType": 1,
        "downFactor": 1.0,
        "boxSize": -1,
        "doBorders": true,
        "doRemoveDust": true,
        "thresholdDust": 5.0,
        "doInvert": true,
        "doFlip": false,
        "doNormalize": true,
        "normType": 2,
        "backRadius": -1,
        "patchSize": -1,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "ctfRelations": "330.outputCTF",
        "inputCoordinates": "560.consensusCoordinates",
        "inputMicrographs": "360.outputMicrographs"
    },
    {
        "object.className": "XmippProtExtractParticles",
        "object.id": "580",
        "object.label": "xmipp3 - extract FULL SIZE particles",
        "object.comment": "This will contain the particles at full size to future manual analysis.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "downsampleType": 1,
        "downFactor": 1.0,
        "boxSize": -1,
        "doBorders": true,
        "doRemoveDust": true,
        "thresholdDust": 5.0,
        "doInvert": true,
        "doFlip": false,
        "doNormalize": true,
        "normType": 2,
        "backRadius": -1,
        "patchSize": -1,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "inputMicrographs": "97.outputMicrographs",
        "ctfRelations": "330.outputCTF",
        "inputCoordinates": "570.consensusCoordinates"
    },
    {
        "object.className": "XmippProtEliminateEmptyParticles",
        "object.id": "683",
        "object.label": "xmipp3 - eliminate empty particles",
        "object.comment": "This try to remove bad picked particles.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "threshold": 1.1,
        "addFeatures": false,
        "useDenoising": true,
        "denoising": 5,
        "inputParticles": "591.outputParticles"
    },
    {
        "object.className": "XmippProtTriggerData",
        "object.id": "717",
        "object.label": "xmipp3 - trigger for stats",
        "object.comment": "This will block the particles set until a representative values is reachet to make an screening based on statistics.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "outputSize": 1000,
        "allImages": true,
        "splitImages": false,
        "delay": 10,
        "inputImages": "683.outputParticles"
    },
    {
        "object.className": "XmippProtScreenParticles",
        "object.id": "751",
        "object.label": "xmipp3 - screen particles",
        "object.comment": "Particle screening based on statitstics.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "autoParRejection": 1,
        "maxZscore": 3.0,
        "percentage": 5,
        "autoParRejectionSSNR": 1,
        "percentageSSNR": 5,
        "autoParRejectionVar": 1,
        "addFeatures": false,
        "hostName": "localhost",
        "inputParticles": "717.outputParticles"
    },
    {
        "object.className": "XmippProtTriggerData",
        "object.id": "788",
        "object.label": "xmipp3 - trigger to 2D class.",
        "object.comment": "This will block the particles until a big enough set is gotten to make a reliable 2D-classification.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "outputSize": 1000,
        "allImages": false,
        "splitImages": false,
        "delay": 10,
        "inputImages": "751.outputParticles"
    },
    {
        "object.className": "ProtRelionClassify2D",
        "object.id": "822",
        "object.label": "relion - 2D classification",
        "object.comment": "An 2D classification to make 32 (by default) initial classes.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": true,
        "doContinue": false,
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": false,
        "maskDiameterA": -1,
        "maskZero": 0,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "hasReferenceCTFCorrected": false,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 32,
        "regularisationParamT": 2,
        "numberOfIterations": 25,
        "useFastSubsets": false,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "inplaneAngularSamplingDeg": 5.0,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "useParallelDisk": true,
        "pooledParticles": 3,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "1",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 3,
        "inputParticles": "788.outputParticles"
    },
    {
        "object.className": "XmippProtEliminateEmptyClasses",
        "object.id": "891",
        "object.label": "xmipp3 - classes to averages I",
        "object.comment": "This extract Averages from classes and asigns an score to output averages.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "threshold": -1.0,
        "usePopulation": false,
        "minPopulation": 0.2,
        "addFeatures": false,
        "useDenoising": true,
        "denoising": 5,
        "inputClasses": "822.outputClasses"
    },
    {
        "object.className": "ProtCryo2D",
        "object.id": "1616",
        "object.label": "cryosparc2 - 2d class.",
        "object.comment": "It is set to make 32 classes, as default.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 2,
        "numberOfClasses": 32,
        "maximunResolution": 6,
        "initialClassification": 2.0,
        "useCircular2D": true,
        "reCenter2D": true,
        "reCenterMask": 0.2,
        "reCenterMaskBinary": false,
        "forceMaxover": true,
        "ctfFlipPhases": false,
        "numberFinalIterator": 1,
        "numberOnlineEMIterator": 20,
        "batchSizeClass": 100,
        "initialScale2D": 1,
        "zeropadFactor": 2,
        "useFRCRegularized": true,
        "useFullFRC": true,
        "iterationToStartAnneling": 2,
        "iterationToStartAnneal": 15,
        "useWhiteNoiseModel": false,
        "cacheParticlesSSD": true,
        "gpuList": "0",
        "compute_lane": "default",
        "inputParticles": "788.outputParticles"
    },
    {
        "object.className": "XmippProtEliminateEmptyClasses",
        "object.id": "927",
        "object.label": "xmipp3 - classes to averages II",
        "object.comment": "This extract Averages from classes and asigns an score to output averages.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "threshold": -1.0,
        "usePopulation": false,
        "minPopulation": 0.2,
        "addFeatures": false,
        "useDenoising": true,
        "denoising": 5,
        "inputClasses": "1616.outputClasses"
    },
    {
        "object.className": "ProtUnionSet",
        "object.id": "963",
        "object.label": "scipion - join averages",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputType": 4,
        "inputSets": [
            "891.outputAverages",
            "927.outputAverages"
        ],
        "ignoreDuplicates": false,
        "renumber": false
    },
    {
        "object.className": "XmippProtStrGpuCrrSimple",
        "object.id": "1007",
        "object.label": "xmipp3 - gl2d assignation",
        "object.comment": "This asign all new incoming particles on-the-fly to one of the input averages provided. Please, set the input particles to a striming set of particles in order to classify them in streaming.",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "maxShift": 10,
        "keepBest": 1,
        "hostName": "localhost",
        "inputParticles": "751.outputParticles",
        "inputRefs": "963.outputSet"
    },
    {
        "object.className": "ProtMonitorSummary",
        "object.id": "1041",
        "object.label": "scipion - monitor summary",
        "object.comment": "",
        "_useQueue": false,
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputProtocols": [
            "2",
            "64",
            "159",
            "330"
        ],
        "samplingInterval": 60,
        "stddevValue": 0.04,
        "ratio1Value": 1.15,
        "ratio2Value": 4.5,
        "maxDefocus": 40000.0,
        "minDefocus": 1000.0,
        "astigmatism": 1000.0,
        "monitorTime": 30000.0,
        "cpuAlert": 101.0,
        "memAlert": 90.0,
        "swapAlert": 50.0,
        "doGpu": false,
        "gpusToUse": "0",
        "doNetwork": false,
        "netInterfaces": 1,
        "doDiskIO": false,
        "doMail": false,
        "emailFrom": "from@from.fakeadress.com",
        "emailTo": "to@to.fakeadress.com",
        "smtp": "smtp.fakeadress.com",
        "publishCmd": ""
    }
]
